<?xml version="1.0"?>
<model>
  <name>marker_checkerboard_7x8_30mm</name>
  <version>1.0</version>
  <description>
    Checkerboard marker with 7x9 size of 30 mm squares
  </description>
  <author>
    <name></name>
    <email></email>
  </author>
  <sdf version='1.3'>marker_checkerboard_7x8_30mm.sdf</sdf>
</model>


